#ep {
  width:15%;
  height:15%;
}

body {
  text-align: center;
  background-color: bisque;
}

p {
  background-color: linen;
}

ul {
  text-align: right;
}

h1 {
  background-color: linen;
}
/*body {
background-color: slategrey;
}
h1 {
    margin:auto;
    text-align:center;
    margin-top:15px;
    }
h1:hover {
    color:red;
    }
h2 {
    margin:auto;
    text-align:center;
    }

#callout {
  background-color: lightslategray;
  padding: 20px;
  border: groove 5px darkslategrey;
  margin: 10px;
  border-radius: 20px;
}
p {
  color: seashell;
  font-weight: bold;
}
p:hover {
        background-color: yellow;
        }
img:hover {
  filter: hue-rotate(170deg) drop-shadow(8px 0px 3px);
}
img {
  border-image:url(images/olivia_icon_emote_neutral.png);
}

#halfwaycolor{
  background-color: red;
  z-index: -999;
  height: 50px;
  width: 50%;
}

.border-img {
  margin: 10px;
  border-width: 20px;
  border-style: solid;
  border-color: green;
  border-image-source: url("../img/blu_icon_emote_neutral.png");
  border-image-repeat: repeat;
  border-image-slice: 50;
  border-image-width: 2;

}

.bg-img {
  background-image: url("../img/queenie_icon_emote_neutral.png");
  background-color: pink;
  margin:10px;
  padding: 10px;
}*/
