body {
background-color: lightcyan;
}
h1 {
    margin:auto;
    text-align:center;
    margin-top:15px;
    }
h1:hover {
    color:red;
    }
h2 {
    margin:auto;
    text-align:center;
    }
p:hover {
        background-color: yellow;
        }
img:hover {
  filter: hue-rotate(100deg) drop-shadow(8px 0px 3px);
}
img {
  border-image:url(images/olivia_icon_emote_neutral.png);
}
