body {
  background-color: black;
  margin:0;
}

h1 {
  text-align: center;
  margin-top: 2%;
  margin-right:5%;
  margin-left:5%;
  margin-bottom:2%;
  /*margin: 5%;*/
  color: pink;
}

.right {
    width: 50%;
    margin-right: 0%;
    margin-left: 50%;
    position: absolute;
    right: 0px;
    text-align: center;
}

.left {
    width: 50%;
    margin-right: 50%;
    margin-left: 0%;
    position: absolute;
    left: 0px;
    text-align: center;
}

p {
  color: pink;
}

.pintrobox {
  text-align: center;
  /*padding: 50px;*/
  margin-top:30px;
  margin-bottom:30px;
  margin-left: 10%;
  /*background-color: red;*/
  height: 100px;
  width: 80%;
  overflow-y: auto;
}

.left .pintrobox {
  transform: scaleX(-1);
  /*background-color: black;*/
}

.left .pintrobox::-webkit-scrollbar {
  width:20px;
}

.left .pintrobox::-webkit-scrollbar-track {
  border-radius: 5px;
  background: purple;
}

.left .pintrobox::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: pink;
}

.right .pintrobox {
  /*background-color: purple;*/
}

.right .pintrobox::-webkit-scrollbar {
  width: 20px;
}

.right .pintrobox::-webkit-scrollbar-track {
  border-radius: 5px;
  background: black;
}

.right .pintrobox::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: pink;
}

.left .pintrobox .pintro {
  transform: scaleX(-1);
}

#split_color {
  background-color: purple;
  height: 130%;
  width: 48.5%;
  margin-right: 0%;
  margin-left: 50%;
  right: 0px;
  top: -10%;
  position: fixed;
  z-index: -3;
  border-left-width: 50px;
  border-left-style: solid;
  border-left-color: green;
  border-image: url("../img/lumpcube3.png") 120 round;
  overflow: hidden;
  animation: flow-down 3s ease-in-out backwards infinite;
  /*animation: flow-down 2s linear forwards infinite;*/
}

@keyframes flow-down {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
}

#border_req {
  border-color: white;
  border-width: medium;
  border-left-style: dashed;
  border-right-style: dashed;

}

.portrait {
  border-width: 30px;
  border-style: solid;
  border-color: green;
  border-image: url("../img/framecube1.png") 30 round;
  filter: hue-rotate(190deg);
  transition: 0.5s;
}

@keyframes shake {
  /*14.2% is the size of the portraits currently*/
  0% {
    transform: translateX(0px);
  }
  33%{
    transform: translateX(25px);
  }

  66%{
    transform: translateX(-25px);
  }
  100% {
    transform: translateX(0px);
  }

}

.portrait:hover {
  filter: hue-rotate(-10deg);
  animation: shake 500ms ease-in-out backwards;
}

/*.moveme {
  background-color: pink;
  width: 50px;
  height: 50px;
  transition: 1s;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1, 0.12, 0, 1.22);
  transition-delay: 0s;
}

.moveme:hover {
  background-color: blue;
  transform: translateX(1580%);*/
  /*transform: translateY(-10%);*/
/*}*/
