.backgrounImageBox{
  width: 500px;
  border-style: solid;
  border-width:thick;
  background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y, repeat-y;
  background-position: center, center, top right, center, bottom right, bottom left;
  background-size: auto;
  /* background-repeat: repeat-y;
  background-position: center;
  background-size: auto; */
  /* background-position: right;
  background-repeat: no-repeat;
  background-size:  auto; */
  height:700px;
  background-image: url(../../img/blu_icon_emote_neutral.png), url(../../img/fraisa_icon_emote_neutral.png),url(../../img/yeti_icon_emote_neutral.png), url(../../img/max_icon_emote_neutral.png), url(../../img/neo_icon_emote_neutral.png), url(../../img/umiak_icon_emote_neutral.png);
}
