.results {
  background-color: #ff3e19;
}

.betterResults {
  background-color: #cf3315;
}

.bestResults {
  background-color: #91240f;
}

.results, .betterResults, .bestResults{
  font-variant: small-caps;
}

body {
  background-color: seagreen;
  font-family: "Bodoni MT";
  font-weight: bold;
}

input, button {
  display: block;
}

input {
  margin: auto;
}

div.stack > h2{
  color:#a2afd5;
}

div.stack > p{
  background-color:#a2afd5;
}

.stack{
  margin: auto;
  text-align: center;
  background-image: url(../img/small_stone_tile.png);
  padding: 2vh 2vw;
  border-left-style:solid;
  border-left-color:#282b34;
  border-left-width: 0.3rem;
  border-right-style:solid;
  border-right-color:#282b34;
  border-right-width: 0.3rem;
  color:#16234a;
  font-size: 20px;
}

.stackTop{
  margin-top:-1vh;
  width:30vw;
}

.stackBottom{
  width:60vw;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
}

#resultsDiv {
  padding: 1vh 3vw;
  border-style:solid;
  border-color:#282b34;
  border-width: 0.3rem;
  background-color: linen;
  background-image: url(../img/small_stone_tile.png);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  color: #291409;
}

.inputContainerWrapper{
  display: flex;
  background-color: rgba(252,176,69,0.7);
  box-shadow: 1.2vw 1.2vw 10vw 1vw rgba(255,0,0,0.8), -1.2vw -1.2vw 10vw 1vw rgba(255,164,0,0.7), 0vw 0vw 10vw 1vw rgba(253,242,29,0.8);
  border-radius: 1.6rem;
  flex-direction: row;
  align-items:baseline;
  padding: 1vw;
  color: #5d2911;
}

.inputContainer {
  border-left-style: double;
  border-left-width: 0.3rem;
  border-left-color: linen;
  border-right-style: double;
  border-right-width: 0.3rem;
  border-right-color: linen;
  text-align: center;
  border-radius: 1rem;
  padding: 10px;
  flex-grow: 1;
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.inputContainer:first-of-type {
  border-left: none;
}

.inputContainer:last-of-type {
  border-right: none;
}

.initialTextResultsDiv {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 0vh;
  margin-top: 2vh;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 5px;
  background-color: linen;
  background: linear-gradient(180deg, rgba(125,74,23,1) 0%, rgba(199,121,66,1) 50%, rgba(0,0,0,1) 100%);
}

#linkP {
  margin-top: 0vh;
  margin-bottom: 2vh;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: linen;
  background: linear-gradient(0deg, rgba(125,74,23,1) 0%, rgba(199,121,66,1) 50%, rgba(170,100,66,1) 70%, rgba(41,20,9,1) 100%);
  padding: 1rem;
}

.fireplaceBlack {
  background-color: black;
  padding: 4vh 4vw;
}
