.results {
  background-color: green;
}

.betterResults {
  background-color: lawngreen;
}

.bestResults {
  background-color: springgreen;
}

.results, .betterResults, .bestResults{
  font-variant: small-caps;
}

body {
  background-color: seagreen;
}

input, button {
  /* display: block; */
}

#resultsDiv {
  background-color: linen;
  display: flex;
  flex-direction: column;
}
