.results {
  background-color: #ff3e19;
}

.betterResults {
  background-color: #cf3315;
}

.bestResults {
  background-color: #91240f;
}

.results, .betterResults, .bestResults{
  font-variant: small-caps;
}

body {
  background-color: seagreen;
}

input, button {
  display: block;
}

input {
  margin: auto;
}

#resultsDiv {
  padding: 1vw;
  background-color: linen;
  background-image: url(../img/small_stone_tile.png);
  display: flex;
  flex-direction: column;
}

.inputContainerWrapper{
  display: flex;
  background-color: rgba(252,176,69,0.5);
  box-shadow: 1.2vw 1.2vw red, -1.2vw -1.2vw orange;
  border-radius: 1.6rem;
  flex-direction: row;
  align-items:baseline;
  padding: 1vw;
}

.inputContainer {
  border-left-style: double;
  border-left-width: 0.3rem;
  border-left-color: linen;
  border-right-style: double;
  border-right-width: 0.3rem;
  border-right-color: linen;
  text-align: center;
  border-radius: 1rem;
  padding: 10px;
  flex-grow: 1;
  background: linear-gradient(90deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.inputContainer:first-of-type {
  border-left: none;
}

.inputContainer:last-of-type {
  border-right: none;
}
