body{
  background-color: black;
}
.column{
  position: fixed;
  left:0;
  bottom:0;
  top:55px;
  width:72px;
  z-index: 200;
  padding-top: 20px;
}
.about,
.skills {
font-size:72px;
width: 10em;
text-align: left;
border:none;
background-color: black;
color:red;
}

.about:hover span {
display: none;
}

.about:hover:after {
transition-delay: 3s;
content: "ABOUT";

}

.skills:hover span {
display: none
}

.skills:hover:after {
content: "SKILLS"
}
